html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia Pro, Georgia, serif;
    line-height: 1.2;
    min-height: 100vh;
}

body {
    background-color:  #e5f8ff;
}

input[type="text"] {
    padding: 10px;
    background-color: #a5d7f2;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    outline: none;
    text-align: center;
    width: 100px;
}

input[type="text"]:not(:last-child) {
    margin-bottom: 10px;
}

input[type="text"].input_skin {
    min-width: 250px;
}

input[type="text"].input_skin::before {
    content: 'TEST';
    display: block;
}

input[type="text"].input_color {
    width: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tee {
    --skin: url('https://skins.ddnet.org/skin/community/default.png');
}
