.tee {
    --skin: none;
    --tee-body-x: 0em;
    --tee-body-y: -6em;
    --tee-body-angle: 0rad;
    --tee-body-scale: 1;
    --tee-back-foot-x: -10.5em;
    --tee-back-foot-y: 15em;
    --tee-back-foot-angle: 0rad;
    --tee-back-foot-scale: 1.5;
    --tee-front-foot-x: 10.5em;
    --tee-front-foot-y: 15em;
    --tee-front-foot-angle: 0rad;
    --tee-front-foot-scale: 1.5;
    --tee-eye-follow-x: 0px;
    --tee-eye-follow-y: 0px;

    font-size: 1px;
    width: 96em;
    height: 96em;
    position: relative;
    content-visibility: visible;
    contain-intrinsic-size: 96em;
    display: inline-block;
    overflow: visible;

    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.tee_rendered {
    opacity: 1;
}

/*      */
/* BODY */
/*      */

.tee::before,
.tee::after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-image: var(--skin);
    background-size: 256em 128em;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:
        translate(calc(-50% + var(--tee-body-x)), calc(-50% + var(--tee-body-y)))
        rotate(var(--tee-body-angle))
        scale(var(--tee-body-scale));
    transition: background-image 200ms ease-in-out;
}

.tee::before {
    background-position: -96em 0em;
    z-index: 0;
}

.tee::after {
    background-position: 0em 0em;
    z-index: 1;
}

/*      */
/* EYES */
/*      */

.tee__eyes {
    position: absolute;
    top: 37.5%;
    left: 50%;
    transform:
        translate(var(--tee-eye-follow-x), var(--tee-eye-follow-y))
        translate(var(--tee-body-x), calc(var(--tee-body-y) + 6em))
        rotate(var(--tee-body-angle));
    transition: transform 150ms ease-out;
}


.tee__eyes::before,
.tee__eyes::after {
    display: block;
    content: '';
    position: absolute;
    width: 32em;
    height: 32em;
    top: -16em;
    left: -16em;
    background-image: var(--skin);
    background-size: 256em 128em;
    transition: background-image 200ms ease-in-out;
}

.tee__eyes::before {
    left: calc(-16em - 7.2em);
    transform: scale(1.2, 1.2);
}

.tee__eyes::after {
    left: calc(-16em + 7.2em);
    transform: scale(-1.2, 1.2);
}

.tee__eyes::before,
.tee__eyes::after,
.tee[data-eyes="normal"] .tee__eyes::before,
.tee[data-eyes="normal"] .tee__eyes::after {
    background-position: -64em -96em;
}

.tee[data-eyes="angry"] .tee__eyes::before,
.tee[data-eyes="angry"] .tee__eyes::after {
    background-position: -96em -96em;
}

.tee[data-eyes="pain"] .tee__eyes::before,
.tee[data-eyes="pain"] .tee__eyes::after {
    background-position: -128em -96em;
}

.tee[data-eyes="happy"] .tee__eyes::before,
.tee[data-eyes="happy"] .tee__eyes::after {
    background-position: -160em -96em;
}

.tee[data-eyes="dead"] .tee__eyes::before,
.tee[data-eyes="dead"] .tee__eyes::after {
    background-position: -192em -96em;
}

.tee[data-eyes="surprise"] .tee__eyes::before,
.tee[data-eyes="surprise"] .tee__eyes::after {
    background-position: -224em -96em;
}

.tee[data-eyes="blink"] .tee__eyes::before,
.tee[data-eyes="blink"] .tee__eyes::after {
    background-position: -64em -96em;
    transform: scale(1.2, 0.45);
}

.tee[data-eyes="blink"] .tee__eyes::after {
    transform: scale(-1.2, 0.45);
}

/*      */
/* FEET */
/*      */

.tee__foot {
    position: absolute;
    width: 64em;
    height: 32em;
    top: 50%;
    left: 50%;
    background-image: var(--skin);
    background-size: 256em 128em;
    background-position: -192em -32em;
    transition: background-image 200ms ease-in-out;
}

.tee__foot_outline {
    background-position: -192em -64em;
}

.tee__foot_back {
    transform:
        translate(calc(-50% + var(--tee-back-foot-x)), calc(-50% + var(--tee-back-foot-y)))
        rotate(var(--tee-back-foot-angle))
        scale(var(--tee-back-foot-scale));
}

.tee__foot_front {
    transform:
        translate(calc(-50% + var(--tee-front-foot-x)), calc(-50% + var(--tee-front-foot-y)))
        rotate(var(--tee-front-foot-angle))
        scale(var(--tee-front-foot-scale));
}

/*       */
/* ORDER */
/*       */

/*
        DDNet render order (RenderTee6):
        0 - back foot outline
        1 - body outline
        2 - front foot outline
        3 - back foot fill
        4 - body fill
        5 - eyes
        6 - front foot fill
    */

/* back foot outline */
.tee__foot_back.tee__foot_outline {
    z-index: 0;
}

/* body outline */
.tee::before {
    z-index: 1;
}

/* front foot outline */
.tee__foot_front.tee__foot_outline {
    z-index: 2;
}

/* back foot fill */
.tee__foot_back {
    z-index: 3;
}

/* body fill */
.tee::after {
    z-index: 4;
}

/* eyes */
.tee__eyes {
    z-index: 5;
}

/* front foot fill */
.tee__foot_front {
    z-index: 6;
}

/*     */
/* FAT */
/*     */

.tee_fat {
    --tee-body-scale: 1.3;
}

/*     */
/* AFK */
/*     */

.tee_afk:not(.tee_custom_animation) .tee__eyes::before {
    transform: scale(1.2, 0.45);
}

.tee_afk:not(.tee_custom_animation) .tee__eyes::after {
    transform: scale(-1.2, 0.45);
}

/*        */
/* COMMON */
/*        */

.tee::before,
.tee::after {
    pointer-events: none;
}
